{{! base.mustache }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="css/paper.css" type="text/css">
</head>
<body>
<div class="container .paper">
    <main style="margin-top: 15em" class="row flex-spaces child-borders">
        {{$content}}{{/content}}
    </main>
</div>
</body>
</html>